* {
    margin: 0;
    padding: 0;
}

.body1 {
    position: relative;
    height: 1260px;
    width: 100%;
    background-image: url(./image/slide-v1-1.jpg);
}

.pic1>img {
    height: 480px;
    width: 480px;
    animation: scale 3s linear infinite;
    animation-direction: alternate-reverse;

}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.nav {
    position: absolute;
    height: 100px;
    width: 1180px;
    /* border: 1px solid red; */
    /* z-index: 1; */
    top: 80px;
    left: 85px;
}

.logo1 {
    height: 53px;
    width: 165px;
    /* border: 1px solid red; */
    margin-top: 18px;
    float: left;
}

.logo1>img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.li0 {
    position: relative;
    height: 60px;
    width: 580px;
    /* border: 1px solid red; */
    float: left;
    margin-top: 18px;
    margin-left: 120px;
}

.li0>ul>li {
    list-style: none;
    float: left;
    color: white;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px;
    cursor: pointer;
}

.home {
    position: relative;
}

.home>p {
    color: #fca817;
}

.lis {
    transition-duration: 1s;
}

.lis:hover {
    color: #fca817;
    transition-duration: 1s;
}

.home::after {
    content: '';
    position: absolute;
    height: 150px;
    width: 75px;
    top: -120px;
    background-color: #54545c;
    left: -16px;
    opacity: 0.4;
    transition-duration: 1s;
}

.lis1::after {
    content: '';
    position: absolute;
    height: 170px;
    width: 75px;
    background-color: #54545c;
    opacity: 0.4;
    top: -270px;
    left: 93px;
    transition-duration: 1s;
}

.lis1:hover::after {
    top: -120px;
}

.lis1:hover>p {
    color: #fca817;
}

.lis2::after {
    content: '';
    position: absolute;
    height: 170px;
    width: 90px;
    background-color: #54545c;
    opacity: 0.4;
    top: -270px;
    left: 190px;
    transition-duration: 1s;
}

.lis2:hover::after {
    top: -120px;
}

.lis2:hover>p {
    color: #fca817;
}

.lis3::after {
    content: '';
    position: absolute;
    height: 170px;
    width: 73px;
    background-color: #54545c;
    opacity: 0.4;
    top: -270px;
    left: 300px;
    transition-duration: 1s;
}

.lis3:hover::after {
    top: -120px;
}

.lis3:hover>p {
    color: #fca817;
}

.lis4::after {
    content: '';
    position: absolute;
    height: 170px;
    width: 70px;
    background-color: #54545c;
    opacity: 0.4;
    top: -270px;
    left: 385px;
    transition-duration: 1s;
}

.lis4:hover::after {
    top: -120px;
}

.lis4:hover>p {
    color: #fca817;
}

.lis5::after {
    content: '';
    position: absolute;
    height: 170px;
    width: 95px;
    background-color: #54545c;
    opacity: 0.4;
    top: -270px;
    left: 470px;
    transition-duration: 1s;
}

.lis5:hover::after {
    top: -120px;
}

.lis5:hover>p {
    color: #fca817;
}

.bt1 {
    position: relative;
    height: 60px;
    width: 210px;
    background-color: #fca817;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 18px;
    float: left;
    margin-left: 85px;
    overflow: hidden;
    cursor: pointer;
}

.bt1>p {
    position: absolute;
    color: white;
    z-index: 1;
    left: 39px;
    top: 20px;
}

.bt1:hover {
    background-color: transparent;
    transition-duration: .8s;
}

.bt1::after {
    content: '';
    position: absolute;
    height: 110%;
    width: 110%;
    border-radius: 50px;
    background-color: black;
    color: white;
    top: 0px;
    left: -3px;
    transform: rotatey(90deg);
    transition-duration: 1s;
}

.bt1:hover::after {
    transform: rotateY(0deg);
}

.bt1>img {
    position: absolute;
    height: 40px;
    width: 30px;
    top: -10px;
    right: 5px;
    transform: rotate(-25deg);
}

.icons {
    display: flex;
    height: 60px;
    width: 200px;
    /* border: 1px solid red; */
    justify-content: start;
    position: absolute;
    right: 100px;
    top: 0px;
    cursor: pointer;
}

.uicon1 {
    position: absolute;
    height: 60px;
    width: 40px;
    background-color: #54545c;
    top: 0px;
    /* left: 1070px; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition-duration: 1s;
}

.dot1 {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #fca817;
    border-radius: 5px;
    left: 28px;
    top: 53px;
    transition-duration: 1s;
}

.uicon2 {
    position: absolute;
    height: 60px;
    width: 40px;
    background-color: #54545c;
    top: 0px;
    left: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition-duration: 1s;
    cursor: pointer;
}

.dot2 {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #fca817;
    border-radius: 20px;
    left: 28px;
    top: 53px;
    transition-duration: 1s;
}

.uicon3 {
    position: absolute;
    height: 60px;
    width: 40px;
    background-color: #54545c;
    top: 0px;
    left: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition-duration: 1s;
    cursor: pointer;
}

.dot3 {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #fca817;
    border-radius: 20px;
    left: 28px;
    top: 53px;
    transition-duration: 1s;
}

.uicon4 {
    position: absolute;
    height: 60px;
    width: 40px;
    background-color: #54545c;
    top: 0px;
    left: 150px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition-duration: 1s;
    cursor: pointer;
}

.dot4 {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #fca817;
    border-radius: 20px;
    left: 28px;
    top: 53px;
    transition-duration: 1s;
}

.ic1 {
    color: #929294;
    padding-top: 25px;
    padding-left: 15px;
    transition-duration: 1s;
}

.ic2 {
    color: #929294;
    padding-top: 25px;
    padding-left: 15px;
    transition-duration: 1s;
}

.ic3 {
    color: #929294;
    padding-top: 25px;
    padding-left: 15px;
    transition-duration: 1s;
}

.ic4 {
    color: #929294;
    padding-top: 25px;
    padding-left: 15px;
    transition-duration: 1s;
}

.uicon1:hover {
    background-color: #fca817;
    transition-duration: 1s;
}

.uicon1:hover .dot1 {
    background-color: black;
    transition-duration: 1s;
}

.uicon1:hover .ic1 {
    color: white;
    transition-duration: 1s;
}

.uicon2:hover {
    background-color: #fca817;
    transition-duration: 1s;
}

.uicon2:hover .dot2 {
    background-color: black;
    transition-duration: 1s;
}

.uicon2:hover .ic2 {
    color: white;
    transition-duration: 1s;
}

.uicon3:hover {
    background-color: #fca817;
    transition-duration: 1s;
}

.uicon3:hover .dot3 {
    background-color: black;
    transition-duration: 1s;
}

.uicon3:hover .ic3 {
    color: white;
    transition-duration: 1s;
}

.uicon4:hover {
    background-color: #fca817;
    transition-duration: 1s;
}

.uicon4:hover .dot4 {
    background-color: black;
    transition-duration: 1s;
}

.uicon4:hover .ic4b {
    color: white;
    transition-duration: 1s;
}

.text1 {
    position: absolute;
    height: 350px;
    width: 690px;
    /* border: 1px solid red; */
    margin-left: 335px;
    color: white;
    font-size: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    animation: move1 5s linear infinite;
}

@keyframes move1 {
    0% {
        top: 480px;
    }

    30% {
        top: 580px;
        opacity: 1;
    }

    40% {
        top: 580px;
        opacity: 1;
    }

    80% {
        top: 580px;
        opacity: 1;
    }

    100% {
        top: 480px;
        opacity: 0;
    }
}

.bt {
    position: absolute;
    height: 70px;
    width: 450px;
    /* border: 1px solid red; */
    left: 460px;
    top: 950px;
}

.bt2 {
    position: absolute;
    height: 68px;
    width: 210px;
    background-color: #fca817;
    border: none;
    font-size: 19px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 50px;
    cursor: pointer;
}

.bt3 {
    position: absolute;
    height: 68px;
    width: 210px;
    color: WHITE;
    background-color: transparent;
    border: 1px solid #929294;
    border-radius: 50px;
    font-size: 19px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 230px;
    cursor: pointer;
}

.chat {
    position: absolute;
    height: 80px;
    width: 80px;
    /* border: 1px solid red; */
    top: 1100px;
    left: 80px;
    display: inline-block;
}

.text2>p {
    position: absolute;
    height: 80px;
    width: 200px;
    /* border: 1px solid red; */
    display: inline-block;
    top: 1100px;
    left: 190px;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    line-height: 38px;
    cursor: pointer;
}

.sidebar {
    position: absolute;
    height: 310px;
    width: 100px;
    background-image: linear-gradient(rgba(128, 128, 128, .2), rgba(128, 128, 128, .3));
    left: 1249px;
    top: 1000px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    z-index: 1;
}

.n1 {
    position: absolute;
    font-size: 30px;
    top: 80px;
    left: 35px;
    color: #FCA817;
}

.n1:hover {
    font-size: 30px;
    color: #fca817;
    opacity: 1;
    cursor: pointer;
}

.n2 {
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 140px;
    left: 35px;
    color: white;
}

.n2:hover {
    font-size: 30px;
    color: #fca817;
    opacity: 1;
    cursor: pointer;
}

.n3 {
    position: absolute;
    text-align: center;
    font-size: 30px;
    left: 35px;
    top: 200px;
    color: white;
}

.n3:hover {
    font-size: 30px;
    color: #fca817;
    opacity: 1;
    cursor: pointer;
}

.body2 {
    position: relative;
    height: 600px;
    width: 100%;
    background-color: #1f2026;
}

.text3 {
    position: relative;
    height: 170px;
    width: 780px;
    /* border: 1px solid red; */
    margin: auto;
    font-size: 70px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    top: 100px;
}

.logo2 {
    position: relative;
    height: 60px;
    width: 60px;
    /* border: 1px solid red; */
    margin: auto;
}

.logo2>img {
    height: 100%;
    width: 100%;
}

.text3 span {
    color: #fca817;
}

.logos {
    position: absolute;
    height: 80px;
    width: 1130px;
    /* border: 1px solid red; */
    top: 420px;
    left: 115px;
}

.logos>img {
    margin: 7px;
    filter: grayscale();
    transition-duration: 1s;
    cursor: pointer;
}

.logos>img:hover {
    filter: none;
    transition-duration: 1s;
}

.body3 {
    position: relative;
    display: flex;
    height: 400px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(./image/service-style1-area_bg.jpg);
    justify-content: center;
    padding-top: 100px;
    flex-wrap: wrap;
    overflow: hidden;
}

.box1 {
    height: 152px;
    width: 390px;
    /* border: 1px solid red; */
}

.logo3 {
    height: 80px;
    width: 85px;
    /* border: 1px solid red; */
    float: left;
    transition-duration: 1s;
}

.logo3>img {
    height: 100%;
    width: 100%;
}

.text4>h3 {
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition-duration: 1s;
}

.text4>h3:hover {
    color: #FCA817;
    transition-duration: 1s;
}

.bar {
    height: 5px;
    width: 13px;
    float: left;
    background-color: #fca817;
    margin-top: 32px;
}

.text4>p {
    color: #54545c;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    padding-top: 23px;
    padding-left: 10px;
}

.text4 {
    height: 150px;
    width: 290px;
    /* border: 1px solid red; */
    float: left;
    margin-left: 10px;
    transition-duration: 1s;
}

.box1:hover>.logo3 {
    transform: rotateY(180deg);
    transition-duration: 1s;
}

.box2 {
    height: 152px;
    width: 390px;
    /* border: 1px solid red; */
    margin-top: -10px;
}

.box2:hover>.logo3 {
    transform: rotateY(180deg);
    transition-duration: 1s;
}

.pic2 {
    position: absolute;
    height: 220px;
    width: 160px;
    /* border: 1px solid red; */
    top: 0px;
    left: 0px;
    animation: pic2 8s linear infinite;
}

@keyframes pic2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.pic2>img {
    height: 100%;
    width: 100%;
}

.pic3 {
    position: absolute;
    height: 220px;
    width: 160px;
    /* border: 1px solid red; */
    bottom: 0px;
    right: 0px;
    animation: pic3 8s linear infinite;
}

@keyframes pic3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.pic3>img {
    height: 100%;
    width: 100%;
}

.body4 {
    position: relative;
    height: 1500px;
    width: 100%;
    background-color: white;
}

.text5 {
    margin: auto;
    height: 120px;
    width: 500px;
    margin-top: 60px;
    /* border: 1px solid red; */
}

.text5>p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    color: #fca817;
}

.text5>h4 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 34px;
    padding-top: 20px;
    line-height: 40px;
}

.body5 {
    position: relative;
    margin: auto;
    height: 630px;
    width: 1215px;
    /* border: 1px solid red; */
    top: 50px;
}

.side1 {
    position: absolute;
    height: 630px;
    width: 700px;
    /* border: 1px solid red; */
}

.pic4 {
    position: absolute;
    top: 40px;
    height: 435px;
    width: 170px;
    /* border: 1px solid red; */
    border-radius: 10px;
    overflow: hidden;

}

.pic4>img:hover {
    transform: scale(1.2);
    transition-duration: 1s;
    filter: none;
}

.pic4>img {
    height: 100%;
    width: 100%;
    transition-duration: 1s;
    filter: grayscale();
}

.pic5 {
    position: absolute;
    top: 40px;
    height: 270px;
    width: 270px;
    /* border: 1px solid red; */
    border-radius: 10px;
    left: 200px;
    overflow: hidden;
    z-index: 1;
}

.pic5>img:hover {
    transform: scale(1.2);
    transition-duration: 1s;
    filter: none;
}

.pic5>img {
    height: 100%;
    width: 100%;
    transition-duration: 1s;
    filter: grayscale();
}

.pic6 {
    position: absolute;
    height: 270px;
    width: 370px;
    /* border: 1px solid red; */
    border-radius: 10px;
    left: 200px;
    top: 345px;
    overflow: hidden;
}

.pic6>img:hover {
    transform: scale(1.2);
    transition-duration: 1s;
    filter: none;
}

.pic6>img {
    height: 100%;
    width: 100%;
    transition-duration: 1s;
    filter: grayscale();
}

.pic7 {
    position: absolute;
    height: 120px;
    width: 120px;
    background-color: #fca817;
    border-radius: 10px;
    top: 500px;
    transition-duration: 1s;
}

.play1 {
    font-size: 55px;
    padding-left: 40px;
    padding-top: 33px;
}

.pic7:hover {
    color: white;
    transition-duration: 1s;
    cursor: pointer;
}

.soap {
    position: absolute;
    left: 380px;
    animation: soap 4s linear infinite;
}

@keyframes soap {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.text6 {
    position: absolute;
    width: max-content;
    /* border: 1px solid red; */
    left: 470px;
    transform: rotate(90deg);
    top: 140px;
}

.text6>h4 {
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.side2 {
    position: absolute;
    height: 630px;
    width: 515px;
    /* border: 1px solid red; */
    left: 700px;
}

.side2>h2 {
    /* text-align: center; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    padding-top: 100px;
    padding-left: 25px;
}

.side2>h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    padding-top: 45px;
    padding-left: 25px;
    line-height: 25px;
}

.side2>p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    padding-left: 25px;
    padding-top: 40px;
    color: #a1a1a1;
    line-height: 28px;
}

.picdiv {
    position: absolute;
    height: 50px;
    width: 100px;
    /* border: 1px solid red; */
    top: 510px;
    left: 25px;
}

.picdiv>img {
    border-radius: 510px;
}

.pic9 {
    position: absolute;
    left: 15px;
}

.pic10 {
    position: absolute;
    left: 25px;
}

.pic11 {
    position: absolute;
    left: 35px;
}

.pic12 {
    position: absolute;
    left: 45px;
}

.text7 {
    position: absolute;
    height: 50px;
    width: 130px;
    /* border: 1px solid red; */
    top: 510px;
    left: 140px;
}

.text7>h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}

.text7>p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    color: grey;
    padding-top: 5px;
}

.body6 {
    position: relative;
    height: 1400px;
    width: 1215px;
    margin: auto;
    /* border: 1px solid red; */
    top: 100px;
}

.text8 {
    position: absolute;
    height: 130px;
    width: 530px;
    /* border: 1px solid red; */
}

.text8>p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #fca817;
}

.text8>h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-top: 18px;
}

.pic13 {
    position: absolute;
    height: 635px;
    width: 670px;
    /* border: 1px solid red; */
    top: 163px;
    overflow: hidden;
}

.pic13>img {
    transition-duration: 1s;
    filter: grayscale(1);
    z-index: -2;
}

.box3 {
    position: absolute;
    height: 120px;
    width: 120px;
    background-color: #fca817;
    z-index: 2;
    left: 280px;
    top: 250px;
    transform: scale(0);
    transition-duration: 1s;
}

.box3:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.arrow {
    position: absolute;
    font-size: 50px;
    padding-top: 35px;
    padding-left: 32px;
}

.pic13:hover .box3 {
    transform: scale(1);
    transition-duration: 1s;
}

.pic13:hover img {
    filter: none;
    transform: scale(1.2);
    transition-duration: 1s;
}

.pic14 {
    position: absolute;
    height: 350px;
    width: 320px;
    /* border: 1px solid red; */
    top: 830px;
    overflow: hidden;
}

.pic14>img {
    transition-duration: 1s;
    filter: grayscale();
}

.box4 {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #fca817;
    z-index: 2;
    left: 115px;
    top: 120px;
    transform: scale(0);
    transition-duration: 1s;
}

.box4:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.arrow1 {
    position: absolute;
    font-size: 40px;
    padding-top: 30px;
    padding-left: 27px;
}

.pic14:hover .box4 {
    transform: scale(1);
    transition-duration: 1s;
}

.pic14:hover>img {
    filter: none;
    transform: scale(1.2);
    transition-duration: 1s;
}

.pic15 {
    position: absolute;
    height: 350px;
    width: 320px;
    /* border: 1px solid red; */
    top: 830px;
    left: 350px;
    overflow: hidden;
}

.pic15>img {
    transition-duration: 1s;
    filter: grayscale();
}

.box5 {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #fca817;
    z-index: 2;
    left: 115px;
    top: 120px;
    transform: scale(0);
    transition-duration: 1s;
}

.box5:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.arrow2 {
    position: absolute;
    font-size: 40px;
    padding-top: 30px;
    padding-left: 27px;
}

.pic15:hover .box5 {
    transform: scale(1);
    transition-duration: 1s;
}

.pic15:hover>img {
    filter: none;
    transform: scale(1.2);
    transition-duration: 1s;
}

.pic16 {
    position: absolute;
    height: 480px;
    width: 470px;
    /* border: 1px solid red; */
    left: 700px;
    overflow: hidden;
}

.pic16>img {
    height: 100%;
    width: 100%;
    transition-duration: 1s;
    filter: grayscale();
}

.box6 {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #fca817;
    z-index: 2;
    left: 190px;
    top: 190px;
    transform: scale(0);
    transition-duration: 1s;
}

.box6:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.arrow3 {
    position: absolute;
    font-size: 40px;
    padding-top: 30px;
    padding-left: 27px;
}

.pic16:hover .box6 {
    transform: scale(1);
    transition-duration: 1s;
}

.pic16:hover>img {
    filter: none;
    transform: scale(1.2);
    transition-duration: 1s;
}

.pic17 {
    position: absolute;
    height: 670px;
    width: 470px;
    /* border: 1px solid red; */
    left: 700px;
    top: 510px;
    overflow: hidden;
}

.pic17>img {
    transition-duration: 1s;
    filter: grayscale();
}

.box7 {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #fca817;
    z-index: 2;
    left: 190px;
    top: 270px;
    transform: scale(0);
    transition-duration: 1s;
}

.box7:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.arrow4 {
    position: absolute;
    font-size: 40px;
    padding-top: 30px;
    padding-left: 27px;
}

.pic17:hover .box7 {
    transform: scale(1);
    transition-duration: 1s;
}

.pic17:hover>img {
    filter: none;
    transform: scale(1.2);
    transition-duration: 1s;
}

.bt4 {
    position: relative;
    height: 60px;
    width: 210px;
    background-color: #fca817;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 1250px;
    left: 400px;
    margin-left: 85px;
    overflow: hidden;
}

.bt4>p {
    position: absolute;
    color: white;
    z-index: 1;
    left: 39px;
    top: 20px;
}

.bt4:hover {
    background-color: transparent;
    transition-duration: .8s;
    cursor: pointer;
}

.bt4::after {
    content: '';
    position: absolute;
    height: 110%;
    width: 110%;
    border-radius: 50px;
    background-color: black;
    color: white;
    top: 0px;
    left: -3px;
    transform: rotatey(90deg);
    transition-duration: 1s;
}

.bt4:hover::after {
    transform: rotateY(0deg);
}

.bt4>img {
    position: absolute;
    height: 40px;
    width: 30px;
    top: -10px;
    right: 5px;
    transform: rotate(-25deg);
}

.dot5 {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: white;
    top: 0px;
    left: 10px;
}

.dot6 {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: white;
    bottom: 0px;
    right: 10px;
}

.body7 {
    position: relative;
    background-image: url(./image/video-gallery-area-bg.jpg);
    height: 900px;
    background-position: center;
    width: 100%;
    top: 750px;
}

.body7>h1 {
    font-size: 100px;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.929);
    color: transparent;
    text-align: center;
    padding-top: 130px;
}

.body7 span {
    color: #fca817;
    -webkit-text-stroke: 2px rgb(252, 168, 23)
}

.body7>p {
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.circle {
    position: absolute;
    height: 160px;
    width: 160px;
    background-color: #fca817;
    border-radius: 160px;
    top: 550px;
    left: 600px;
    cursor: pointer;
}

.play {
    font-size: 65px;
    padding-left: 60px;
    padding-top: 50px;
    transition-duration: 1s;
}

.play:hover {
    color: white;
    transition-duration: 1s;
}

.soap2 {
    position: absolute;
    left: 150px;
    top: 500px;
    animation: soap2 6s linear infinite;
}

@keyframes soap2 {
    0% {
        transform: scale(1);
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(5deg);
    }

    20% {
        transform: translate(10px);
    }

    30% {
        transform: scale(1.1);
    }

    40% {
        transform: rotate(10deg);
    }

    50% {
        transform: translate(20px);
    }

    60% {
        transform: scale(1.1.5);
    }

    70% {
        transform: translate(-10px);
    }

    80% {
        transform: scale(1.1);
    }

    90% {
        transform: rotate(-10px);
    }

    100% {
        transform: rotate(0deg);
        transform: scale(0);
        transform: translate(0px);
    }
}

.team {
    height: 100vh;
    width: 100%;
    background-color: #F3F3F4;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin-top: 720px;
}

.bloc {
    height: 80%;
    width: 30%;
    /* background-color: red; */
    position: relative;
}

.bloc1 {
    height: 80%;
    width: 30%;
    /* background-color: red; */
    padding-left: 50px;
    box-sizing: border-box;
}

.p2 {
    color: #FCA817;
    margin-bottom: 30px;
}

.btn4 {
    height: 55px;
    width: 180px;
    background-color: #FCA817;
    border-radius: 30px;
    border: none;
    overflow: hidden;
    position: relative;
    top: 80px;
}

.btn4 img {
    height: 20px;
    width: 40px;
    position: absolute;
    top: 0px;
    right: 2px;
}

.btn4::after {
    height: 100%;
    width: 102%;
    background-color: black;
    border-radius: 40px;
    border: 1px solid black;
    content: '';
    position: absolute;
    transform: rotatey(90deg);
    transition-duration: 1s;
    top: 0;
    left: 0;
}

.btn4:hover::after {
    transform: rotateY(0deg);
    transition-duration: 1s;
}

.btn4:hover {
    background-color: transparent;
    transition-duration: 1.5s;
    color: white;
    cursor: pointer;
}

.btn4 p {
    position: absolute;
    z-index: 5;
    top: 18px;
    left: 20px;
    font-size: 16px;
}

.btn4 p:hover {
    color: white;
}

.fil {
    height: 75%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.fil img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    position: absolute;
    transition-duration: 1s;
}

.bloc h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.face {
    height: 50px;
    width: 50px;
    border: 1px solid #FCA817;
    border-radius: 50px;
    margin-left: 80%;
    margin-top: -40px;
    font-size: 20px;
    color: #FCA817;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotatex(90deg);
    cursor: pointer;
}

.bloc:hover .fil img {
    transform: scale(1.2) skew(-3deg);
    transition-duration: 1s;
}

.bloc:hover .face {
    transform: rotateX(0deg);
    transition-duration: .5s;
}

.face:hover {
    color: #F3F3F4;
    background-color: black;
    border: 1px solid black;
}

.lean {
    height: 130px;
    width: 150px;
    /* background-color:orangered; */
    position: absolute;
    z-index: 5;
    bottom: -200px;
    left: -100px;
    background-image: url(./image/team-shape-1.png);
    background-size: 100% 100%;
    transition-duration: .5s;
}

.bloc:hover .lean {
    bottom: 0px;
    left: 0px;
    transition-duration: 1s;
}

.bloc h2:hover {
    color: #FCA817;
}

.bloc p {
    color: silver;
}

.team1 {
    height: 100vh;
    width: 100%;
    background-color: #F3F3F4;
    display: flex;
    justify-content: space-evenly;
}

.story {
    height: 95vh;
    width: 100%;
    background-color: #F3F3F4;
    display: flex;
}

.stor {
    height: 100%;
    width: 40%;
    background-image: url(./image/skill-style1_image.jpg);
    background-size: 150% 100%;
    filter: grayscale(100%);
}

.check {
    height: 100%;
    width: 42%;
    /* background-color:red; */
    margin-left: 10%;
}

.check h1 {
    font-size: 70px;
    margin-top: 100px;
}

.check p {
    color: silver;
    font-size: 18px;
    line-height: 40px;
    margin-top: 10px;
}

.load {
    height: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.loads {
    height: 80%;
    width: 45%;
    background-color: #E4E4E5;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.load h4 {
    position: absolute;
}

.loadss {
    height: 100%;
    width: 100%;
    background-color: #FCA817;
    position: absolute;
    left: -20%;
}

.loads1 {
    height: 100%;
    width: 100%;
    background-color: green;
    position: absolute;
    left: -30%;
}

.num {
    height: 5%;
    width: 50%;
    /* background-color:orangered; */
    float: left;
    position: relative;
}

.num1 {
    height: 5%;
    width: 50%;
    /* background-color:orangered; */
    float: left;
    position: relative;
}

.num p {
    position: absolute;
    right: 20px;
    top: -10px;
    font-size: 16px;
}

.num h5 {
    position: absolute;
    top: 10px;
}

.num1 h5 {
    position: absolute;
    top: 10px;
    left: 30px;
}

.num1 p {
    position: absolute;
    right: 0px;
    top: -10px;
    font-size: 16px;
}

.news {
    height: 30vh;
    width: 100%;
    background-color: #F3F3F4;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
}

.news p {
    color: #FCA817;
    margin-bottom: 30px;
}

.fusce {
    height: 100vh;
    width: 100%;
    /* background-color: #F3F3F4; */
    position: relative;
    padding-left: 60px;
    box-sizing: border-box;
    top: 50px;
}

.fus {
    height: 100%;
    width: 45%;
    /* background-color: red; */
    float: left;
    margin-left: 30px;
    position: relative;
}

.fusi {
    height: 60%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.fusi img {
    height: 100%;
    width: 100%;
    transition-duration: 1s;
    filter: grayscale(100%);
}

.fus:hover .lean {
    bottom: 0px;
    left: 0px;
    transition-duration: 1s;
}

.fus:hover .fusi img {
    transform: scale(1.2) skew(-3deg);
    transition-duration: 1s;
    filter: none;
}

.fus h3 {
    line-height: 25px;
    margin-top: 20px;
}

.fus h3:hover {
    color: #FCA817;
    cursor: pointer;
}

.fus p {
    font-size: 18px;
    line-height: 25px;
    color: gray;
    margin-top: 20px;
}

.button {
    height: 50px;
    width: 180px;
    position: relative;
    background-color: #FCA817;
    border-radius: 30px;
    top: 30px;
    border: none;
    cursor: pointer;
}

.button img {
    position: absolute;
    height: 20px;
    width: 40px;
    top: 0px;
    right: 0px;
}

.button::after {
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 40px;
    border: 1px solid black;
    content: '';
    position: absolute;
    transform: rotatey(90deg);
    transition-duration: 1s;
    top: 0;
    left: 0;
}

.button:hover::after {
    transform: rotateY(0deg);
    transition-duration: 1s;
}

.button:hover {
    background-color: transparent;
    transition-duration: 1.5s;
    color: white;
}

.button p {
    position: absolute;
    z-index: 5;
    top: -7px;
    left: 40px;
    font-size: 16px;
    color: black;
}

.button p:hover {
    color: white;
}

.comment {
    height: 30px;
    width: 250px;
    background-color: #FCA817;
    position: absolute;
    right: 0px;
    bottom: 50px;
    display: flex;
}

.com {
    height: 100%;
    width: 60%;
    background-color: #F3F3F4;
    border-right: 1px solid gray;
    color: gray;
    padding-top: 6px;
    box-sizing: border-box;
    position: relative;
}

.com p {
    font-size: 14px;
    position: absolute;
    bottom: 2px;
    right: 15px;
}

.com p:hover {
    color: #FCA817;
    cursor: pointer;
}

.com1 {
    height: 100%;
    width: 40%;
    background-color: #F3F3F4;
    position: relative;
}

.com1 p {
    font-size: 14px;
    position: absolute;
    bottom: 2px;
    right: 15px;
}

.com1 p:hover {
    color: #FCA817;
    cursor: pointer;
}

.happy {
    height: 45vh;
    width: 100%;
    background-color: #F3F3F4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car {
    height: 60%;
    width: 20%;
    /* background-color:yellow; */
    position: relative;
    display: flex;
    align-items: center;
}

.bor {
    height: 80%;
    width: 30%;
    position: relative;
    border: 2px solid silver;
}

.car:hover .bor {
    border: 2px solid #FCA817;
}

.bor h1 {
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 40%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.client {
    padding: 3px 7px;
    background-color: #FCA817;
    position: absolute;
    top: 100px;
    left: 40px;
}

.salena {
    height: 90vh;
    width: 100%;
    background-color: #FCA817;
    padding-left: 250px;
    padding-top: 100px;
    box-sizing: border-box;
}

.salena span {
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.salena p {
    font-size: 70px;
    font-weight: bolder;
}

.salen {
    height: 60%;
    width: 70%;
    /* background-color:red; */
    margin-top: 50px;
    position: relative;
}

.salen img {
    height: 70px;
    width: 55px;
}

.p5 {
    position: absolute;
    top: -30px;
    left: 7px;
}

.smith {
    height: 100%;
    width: 90%;
    /* background-color: #E4E4E5; */
    position: absolute;
    right: 0px;
    top: 0px;
}

.smith p {
    font-size: 20px;
    font-weight: normal;
    line-height: 35px;
}

.smith img {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    filter: grayscale(100%);
    position: absolute;
    top: 180px;
}

.smith h3 {
    position: absolute;
    left: 90px;
    top: 195px;
}

.smith h5 {
    position: absolute;
    left: 90px;
    top: 220px;
    color: #F3F3F4;
}

.map {
    height: 110vh;
    width: 100%;
    position: relative;
}

.map::after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 0px;
    left: 0px;
}

.map iframe {
    height: 100%;
    width: 100%;
}

.map:hover {
    cursor: grab;
}

.table {
    height: 100%;
    width: 40%;
    background-color: #F3F3F4;
    position: absolute;
    top: 0px;
    left: 30%;
    z-index: 2;
    padding-top: 80px;
    box-sizing: border-box;
}

.table:hover {
    cursor: default;
}

.table p {
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
}

.table input {
    padding: 0px 20px;
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 85px;
    position: relative;
}

.table textarea {
    padding: 20px 20px;
    border-radius: 5px;
    height: 100px;
    width: 300px;
    border: none;
    margin-left: 85px;
    margin-top: 20px;
}

.buttonn {
    height: 50px;
    width: 180px;
    position: relative;
    background-color: #FCA817;
    border-radius: 30px;
    top: 60px;
    left: 30%;
    border: none;
}

.buttonn img {
    position: absolute;
    height: 20px;
    width: 40px;
    top: 0px;
    right: 0px;
}

.buttonn::after {
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 40px;
    border: 1px solid black;
    content: '';
    position: absolute;
    transform: rotatey(90deg);
    transition-duration: 1s;
    top: 0;
    left: 0;
}

.buttonn:hover::after {
    transform: rotateY(0deg);
    transition-duration: 1s;
}

.buttonn:hover {
    background-color: transparent;
    transition-duration: 1.5s;
    color: white;
    cursor: pointer;
}

.buttonn p {
    position: absolute;
    z-index: 5;
    top: 15px;
    left: 40px;
    font-size: 16px;
    color: black;
}

.buttonn p:hover {
    color: white;
}

.im1 {
    height: 170px;
    width: 200px;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 20px;
    animation-name: im1;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes im1 {
    0% {
        left: 50px;
    }

    100% {
        left: 200px;
    }
}

.im2 {
    height: 150px;
    width: 100px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.im3 {
    height: 250px;
    width: 180px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

footer {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(./image/video-gallery-area-bg.jpg);
    background-size: 100% 100%;
    padding-left: 100px;
    padding-top: 50px;
    box-sizing: border-box;
    position: relative;

}

footer h4 {
    color: #FCA817;
}

footer h1 {
    color: white;
    margin-top: 10px;
}

.buttonn1 {
    height: 60px;
    width: 180px;
    position: absolute;
    background-color: #FCA817;
    border-radius: 30px;
    top: 60px;
    right: 80px;
    border: none;
}

.buttonn1 img {
    position: absolute;
    height: 20px;
    width: 40px;
    top: 0px;
    right: 0px;
}

.buttonn1::after {
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 40px;
    border: 1px solid black;
    content: '';
    position: absolute;
    transform: rotatey(90deg);
    transition-duration: 1s;
    top: 0;
    left: 0;
}

.buttonn1:hover::after {
    transform: rotateY(0deg);
    transition-duration: 1s;
}

.buttonn1:hover {
    background-color: transparent;
    transition-duration: 1.5s;
    color: white;
    cursor: pointer;
}

.buttonn1 p {
    position: absolute;
    z-index: 5;
    top: 20px;
    left: 30px;
    font-size: 16px;
    color: black;
}

.buttonn1 p:hover {
    color: white;
}

.footer {
    height: 65%;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid silver;
    display: flex;
}

.foot {
    height: 100%;
    width: 37%;
    /* background-color:red; */
    position: relative;
}

.foot1 h3 {
    color: white;
}

.foot2 h3 {
    color: white;
}

.foot2 {
    height: 100%;
    width: 37%;
    /* background-color:red; */
    position: relative;
    padding-top: 60px;
    padding-left: 100px;
    box-sizing: border-box;
}

.foot1 {
    height: 100%;
    width: 13%;
    /* background-color:orangered; */
    position: relative;
    padding-top: 60px;
    padding-left: 52px;
    box-sizing: border-box;
}

.im5 {
    height: 50px;
    width: 150px;
    margin-left: 70px;
    margin-top: 60px;
    cursor: pointer;
}

.pf {
    font-size: 12px;
    font-weight: bold;
    color: gray;
    margin-left: 70px;
    margin-top: 40px;
    line-height: 20px;
}

.im6 {
    height: 200px;
    width: 180px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.f {
    height: 25%;
    width: 80%;
    background-color: #FCA817;
    position: absolute;
    bottom: 0px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f p {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.f span {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    cursor: pointer;
}

.dash1 {
    height: 3px;
    width: 15px;
    background-color: #FCA817;
    margin-bottom: 50px;
    margin-top: 20px;
}

.foot1 p {
    font-size: 14px;
    font-weight: bold;
    color: gray;
    margin-top: 30px;
    transition-duration: 1s;
}

.foot1>p:hover {
    color: #FCA817;
    cursor: pointer;
    transition-duration: 1s;
}

.images {
    height: 20%;
    width: 60%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.im11 {
    height: 100%;
    width: 27%;
    position: relative;
    overflow: hidden;
}

.im11 img {
    height: 100%;
    width: 100%;
}

.fa-instagram {
    position: absolute;
    z-index: 2;
}

.li {
    height: 50px;
    width: 60%;
    position: absolute;
    top: 65%;
    left: 80px;
}

.li ul {
    display: flex;
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    text-decoration: underline;
}

.li1 {
    position: relative;
    height: 40px;
    width: 280px;
    /* border: 1px solid red; */
    top: 390px;
    left: 850px;
}

.li1 li {
    list-style: none;
    float: left;
    font-size: 15px;
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition-duration: 1s;
    text-decoration: underline;
    color: #a1a1a1;
}

.li1 li:hover {
    color: #FCA817;
    transition-duration: 1s;
    cursor: pointer;
}